@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgDark;
  @apply font-ubuntu;
}

.css-187mznn-MuiSlider-root {
  height: 8px !important;
  color: transparent !important;
}

.sliderStyle .MuiSlider-track {
  @apply from-gradientColorStart;
  @apply to-gradientColorStop;
  @apply bg-gradient-to-r;
}

.sliderStyle .MuiSlider-rail {
  @apply text-gray-100;
  @apply bg-white-30;
}

.sliderStyle .css-eg0mwd-MuiSlider-thumb {
  @apply border-6;
  @apply border-gradientColorStop;
  @apply h-25px;
  @apply w-25px;
  @apply bg-dark;
}

.sliderStyle .css-1eoe787-MuiSlider-markLabel {
  @apply text-white;
  @apply text-sm;
  @apply opacity-25;
}

.sliderStyle .css-yafthl-MuiSlider-markLabel {
  @apply text-white;
  @apply text-sm;
  @apply opacity-25;
}

.sliderStyle .css-6cwnna-MuiSlider-mark {
  @apply bg-transparent;
}

.sliderStyle .MuiSlider-markLabelActive {
  @apply opacity-100;
}

.barMenu {
  background-image: url('./../images/mobile-menu-background.png');
  @apply w-full;
  @apply h-66px;
  @apply bg-cover bg-center;
  @apply flex;
  @apply flex-row;
  @apply justify-center;
}

.profile {
  @apply w-549px;
  @apply bg-dark;
  @apply pt-8;
  @apply hidden;
  @apply lg:block;
}

.profile .css-1gsv261 {
  @apply border-b-2;
  @apply border-borderGray;
}

.profile .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  @apply w-6/12;
  @apply text-base;
  @apply font-normal;
  @apply text-borderTabGray;
  @apply opacity-80;
  @apply normal-case;
}

.profile .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  @apply font-bold;
  @apply text-white;
  @apply font-ubuntu;
}

.profile .css-1aquho2-MuiTabs-indicator {
  @apply bg-white;
}

.trackSlider {
  @apply w-full;
  @apply h-8px;
  @apply from-gradientColorStart;
  @apply to-gradientColorStop;
  @apply bg-gradient-to-r;
  @apply absolute;
  @apply rounded-12px;
  top: 20px;
  @apply left-0;
}

.labelSlider {
  @apply absolute;
  @apply bottom-0;
  @apply left-0;
  @apply right-0;
  @apply flex;
  @apply flex-row;
  @apply justify-between;
  bottom: -9px;
  left: 16px;
  right: 15px;
}